<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'css/user/registration.css' %}">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Registration</title>
</head>
<body>
<a class="btn btn-warning" style="margin-left:1840px; margin-top:5px;" href="{% url 'user:login'%}">Login</a>

    {%if message%}
        <div class="container col-3" style="background: rgba(245, 35, 35, 0.5); border-radius: 10px; margin-bottom:-7%;margin-top: 3%; ">
             <strong>{{message}}</strong>
        </div>
    {%endif%}

    <form action="{% url 'user:registration'%}" method="post" >
        {% csrf_token %}
        <div class="registration">

            <div class="row">
                    {%for field in form%}
                        <div class="col-11" style="color:white; margin-left: 15px;">
                            <p>{{field.label}} :</p>
                        </div>
                        <div class="col-11 mb-3" style="color:white; margin-left: 15px;">
                            {{field}}
                        </div>
                    {%endfor%}
            </div>
            <div class="col-12">
                <input type="submit" class="form-control" style="background: #ffc107; border-radius: 10px;"
                value="Войти" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>

    </form>
</body>
</html>
